.modal {
  $self: &;

  &__login {
    display: none;
  }

  &__main {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000CC 0% 0% no-repeat padding-box;
  }

  &__content {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 469px;
    padding: 40px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    transform: translate(-50%, -50%);

    @include media('<=xs') {
      width: 100vw;
      height: 100vh;
    }

    @include media('<=xxxs') {
      padding: 23px 20px;
    }
  }

  &__content--login {}

  &__close-button {
    position: absolute;
    top: 13px;
    right: 13px;
    padding: 0;
    background: none;
    border: none;
    background-color: transparent;
    cursor: pointer;

    .ic_close {
      fill: #BFBFBF;
      pointer-events: all;
      cursor: pointer;
    }

    .ic_close:hover {
      fill: #569DDC;
    }
  }

  &__img {}

  &__close-img {}

  &__headline {
    margin-bottom: 30px;
    font:
      var(--unnamed-font-style-normal) normal bold var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    
    @include media('<=xxxs') {
      letter-spacing: .7px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  // &__form>* {
  //   margin-bottom: 16px;
  // }

  &__input {
    padding: 19px 24px 17px;
    outline: none;

    font:
      var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/21px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-00468533);
    border-radius: 8px;


    &:focus::placeholder {
      filter: opacity(50%);
    }

    &:nth-child(1) {
      margin-bottom: 16px;
    }

    &:nth-child(2) {
      margin-bottom: 23px;
    }

  }

  &__button {
    width: 320px;
    height: 60px;
    margin-bottom: 34px;
    padding-top: 2px;
    background: var(--unnamed-color-d30531) 0% 0% no-repeat padding-box;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 24px/var(--unnamed-line-spacing-32) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);

    &:hover {
      background-color: #E1133F;
    }
  }

  &__log-in-button {}

  &__forgot {
    display: flex;
    flex-direction: column;
  }

  &__register-button {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-004685);
    line-height: 18px;
    cursor: pointer;

    &:first-child {
      margin-bottom: 20px;
    }

    & span {
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px dotted #000;
    }

    &:hover {
      filter: opacity(50%);
    }
  }

  &__style-button {}

}