@import "layout/layout.scss";
@include reset();

// вызов показа текущего диапазона
// body {
//   @include screen-media();
// }

// Import media-query helper
@import "../../node_modules/include-media/dist/_include-media.scss";

$breakpoints: (
  'xxxs': 360px,
  'xxs': 480px,
  'xs': 640px,
  'sm': 780px,
  'md': 960px,
  'lg': 1100px,
  'xlg': 1280px,
  'xxlg': 1440px,
  'xxxlg': 1680px,
  'xxxxlg': 1920px);

// отключение hover 
$mouse-device: '(hover: hover) and (pointer: fine)';

// fonts
@include font-face("OpenSans-Regular", "OS-R");
@include font-face("OpenSans-SemiBold", "OS-SB");

// Import BEM blocks scss
@import "../blocks/**/*.scss";

// Определяем анимацию затухания  
@keyframes fadeOut {
  from {opacity: 1;}

  to {opacity: 0;}
}

// Определяем анимацию проявления 
@keyframes fadeIn {
  from {opacity: 0;}

  to {opacity: 1;}
}

body,
html {
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
  flex-flow: column nowrap;
  font-size: #{$basesize}px;
  font-family: "IR", sans-serif;
  line-height: 1.2;
  color: $text;
  background-color: $white;
  scroll-behavior: smooth;
  // overflow-x: hidden;
}

.preload * {
  transition: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}