.partners {
  $self: &;

  margin-bottom: 60px;

  @include media('<=xxxs') {
    margin-bottom: 34px;
  }

  &.container {

    @include media('<=xxxs') {
      width: 96%;
    }
  }

  &__contents {}

  &__title {
    padding-top: 82px;
    text-align: center;
    font:
      var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-open-sans);
    letter-spacing: .8px;
    color: var(--unnamed-color-000000);

    @include media('<=xxxs') {
      padding-top: 27px;
      font:
        var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-20)/27px var(--unnamed-font-family-open-sans);
      letter-spacing: .4px;
      color: var(--unnamed-color-000000);
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding-top: 53px;

    @include media('<lg') {
      justify-content: space-evenly;
    }

    @include media('<=xxxs') {
      padding-top: 0;
      justify-content: space-around;
    }
  }

  &__item {
    width: 16%;

    @include media('<lg') {
      width: 38%;
    }

    @include media('<=xxxs') {
      padding-top: 27px;
      width: 148px;

      &:nth-child(n + 3) {
        padding-top: 33px;
      }

      &:nth-child(odd) {
        padding-right: 1px;
      }

      &:nth-child(even) {}
    }
  }

  &__logo {}

  &__img {}

  &__text {
    padding-top: 11px;
    font:
      var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-open-sans);
    letter-spacing: .2px;
    color: var(--unnamed-color-000000);

    @include media('<=xxxs') {
      padding-top: 4px;
      font:
        var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-open-sans);
      letter-spacing: 0.2px;
      color: var(--unnamed-color-000000);
    }
  }

}